<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619535807289-2ohc7sudqu1td35jtoa442d58cljmj8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619535807289-2ohc7sudqu1td35jtoa442d58cljmj8l</string>
	<key>API_KEY</key>
	<string>AIzaSyBuIkwvhnFQWMhSFc_SUNhEOXXVkqY9sUg</string>
	<key>GCM_SENDER_ID</key>
	<string>619535807289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LinksApp</string>
	<key>PROJECT_ID</key>
	<string>linksapp-c48d4</string>
	<key>STORAGE_BUCKET</key>
	<string>linksapp-c48d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:619535807289:ios:05fa815f0bb2a69740eee8</string>
	<key>DATABASE_URL</key>
	<string>https://linksapp-c48d4.firebaseio.com</string>
</dict>
</plist>
